<h3>Margin Left</h3>
<div class="ids-grid">
	{% for p in sizes %}
		<div class="ids-cell ids-padding--0">
			<div class="margin ids-margin-left--{{p}}-tablet">
				.ids-margin-left--{{p}}-tablet
			</div>
		</div>
	{% endfor %}
</div>
<h3>Margin Right</h3>
<div class="ids-grid">
	{% for p in sizes %}
		<div class="ids-cell ids-padding--0">
			<div class="margin ids-margin-right--{{p}}-tablet">
				.ids-margin-right--{{p}}-tablet
			</div>
		</div>
	{% endfor %}
</div>
<h3>Margin Top</h3>
<div class="ids-grid">
	{% for p in sizes %}
		<div class="ids-cell ids-padding--0">
			<div class="margin ids-margin-top--{{p}}-tablet">
				.ids-margin-top--{{p}}-tablet
			</div>
		</div>
	{% endfor %}
</div>
<h3>Margin Bottom</h3>
<div class="ids-grid">
	{% for p in sizes %}
		<div class="ids-cell ids-padding--0">
			<div class="margin ids-margin-bottom--{{p}}-tablet">
				.ids-margin-bottom--{{p}}-tablet
			</div>
		</div>
	{% endfor %}
</div>
<style>
	.ids-cell {
		min-height: 0px;
		background-color: red;
	}
	.margin {
		background-color: green;
		border: solid 1px black;
	}
</style>

